<div class="col-10"></div>
<div class="col-2 mt-3 text-white">
    {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
           href="{% url 'users_app:profile' %}">Профиль</a>
        <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
           href="{% url 'users_app:logout' %}">Выйти</a>
    {% else %}
        <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
           href="{% url 'users_app:register' %}">Зарегистрироваться</a>
        <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
           href="{% url 'users_app:login' %}">Войти</a>
    {% endif %}
    {% if perms.users_app.view_user %}
        <a class="btn btn-sm btn-outline-secondary form-control mt-3" type="submit"
           href="{% url 'users_app:list' %}">Пользователи</a>
    {% endif %}
    <a class="btn btn-sm btn-outline-secondary form-control mt-3" type="submit"
       href="{% url 'service_app:index' %}">Список рассылок</a>
    <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
       href="{% url 'service_app:message_list' %}">Сообщения</a>
    <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
       href="{% url 'customers_app:list' %}">Клиенты</a>
    <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
       href="{% url 'logger_app:log' %}">Логи</a>
    <a class="btn btn-sm btn-outline-secondary form-control" type="submit"
       href="/admin/">Администрирование</a>
</div>