<table class="table table-secondary">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Название рассылки</th>
        <th scope="col">Периодичность</th>
        <th scope="col">Тема</th>
        <th scope="col">Начало рассылки</th>
        <th scope="col">Статус</th>
        <th scope="col">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr {% if object.status == 'PA' %}
            class="table-secondary"
        {% else %}
            class="table-success"
        {% endif %}>
            <th scope="row">{{ object.pk }}</th>
            <td>{{ object.name }}</td>
            <td>{{ object.get_periodic_display }}</td>
            <td>{{ object.message|truncatechars:25 }}</td>
            <td>{{ object.start_time }}</td>
            <td>
                <a href="{% url 'logger_app:mailing_log' object.pk %}">
                    {{ object.get_status_display }}
                </a>
            </td>
            <td>
                <div>
                    <a class="btn btn-primary"
                       href="{% url 'service_app:start_mailing' object.pk %}">Go</a>
                    {% if object.status == 'PA' %}
                        <a class="btn btn-success"
                           href="{% url 'service_app:toggle_activity' object.pk %}">Старт</a>
                    {% else %}
                        <a class="btn btn-secondary"
                           href="{% url 'service_app:toggle_activity' object.pk %}">Пауза</a>
                    {% endif %}
                    <a class="btn btn-outline-primary"
                       href="{% url 'service_app:update' object.pk %}">изменить</a>
                    <a class="btn btn-outline-danger"
                       href="{% url 'service_app:delete' object.pk %}">удалить</a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>