<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Название рассылки</th>
        <th scope="col">Тема</th>
        <th scope="col">Периодичность</th>
        <th scope="col">Время рассылки</th>
        <th scope="col">Статус</th>
        <th scope="col">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr {% if object.is_active %}
            class="table-success"
        {% else %}
            class="table-secondary"
        {% endif %}>
            <th scope="row">{{ object.pk }}</th>
            <td>{{ object.name }}</td>
            <td>{{ object.title|truncatechars:25 }}</td>
            <td>{{ object.periodicity }}</td>
            <td>{{ object.mailing_time }}</td>
            <td>{{ object.status }}</td>
            <td>
                <div>
                    {% if object.is_active %}
                        <a class="btn btn-success"
                           href="#">Отключить</a>
                    {% else %}
                        <a class="btn btn-secondary"
                           href="#">Включить</a>
                    {% endif %}
                    <a class="btn btn-outline-primary"
                       href="#">изменить</a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>