<table class="table table-secondary table-striped">
    <thead class="mt-5">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Рассылка</th>
        <th scope="col">Последняя попытка</th>
        <th scope="col">Статус попытки</th>
        <th scope="col">Режим отправки</th>
        <th scope="col">Ответ почтового сервера</th>
    </tr>
    </thead>
    <tbody>

    {# Для постраничной пагинации в FBV и TemplateView используется объект page_obj вместо object #}
    {% for object in page_obj %}
        <tr {% if object.is_successfully %}
            class="table-secondary"
        {% else %}
            class="table-danger"
        {% endif %}>
            <th scope="row">{{ object.pk }}</th>
            <td>
                {{ object.mailing }}
            </td>
            <td>{{ object.last_attempt }}</td>
            <td>
                {% if object.is_successfully %}
                    Успешно
                {% else %}
                    Ошибка
                {% endif %}
            </td>
            <td>{{ object.get_mode_display }}</td>
            <td>{{ object.server_response }}</td>
        </tr>
    {% endfor %}
</table>
