{% extends 'service_app/base.html' %}
{% block content %}
    <div>
        <a href="{% url 'customers_app:list' %}" type="button" class="btn btn-secondary">
        << Назад
    </a>
    </div>
    <div class="row mt-5">
        <h4>{{ object.last_name }} {{ object.first_name }} {{ object.surname }}</h4>
    </div>
    <div>
        <p><b>Электронная почта:</b> {{ object.email }}</p>
        <p><b>Подписки:</b></p>
        {% for subscription in object.subscriptions.all %}
            <p>{{ subscription }}</p>
        {% endfor %}
        <p><b>Дополнительные сведения:</b> {{ object.comment }}</p>
    </div>
{% endblock %}