{% extends 'service_app/base.html' %}
{% load users_tags %}
{% block content %}
    <div class="col-1">
        <a href="{% url 'users_app:list' %}" type="button" class="btn btn-secondary form-control">
            << назад
        </a>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация о пользователе
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Фамилия</td>
                            <td>{% if not object.last_name %}
                                -
                            {% else %}
                                {{ object.last_name }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Имя</td>
                            <td>{% if not object.first_name %}
                                -
                            {% else %}
                                {{ object.first_name }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Отчество</td>
                            <td>{% if not object.surname %}
                                -
                            {% else %}
                                {{ object.surname }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Электронная почта</td>
                            <td>{{ object.email }}</td>
                        </tr>
                        <tr>
                            <td>Страна</td>
                            <td>{% if not object.country %}
                                -
                            {% else %}
                                {{ object.get_country_display }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>{% if not object.phone %}
                                -
                            {% else %}
                                {{ object.phone }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Telegram</td>
                            <td>{% if not object.phone %}
                                -
                            {% else %}
                                {{ object.telegram }}
                            {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-header">
                    <h3 class="card-title">
                        Группы пользователя
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for group in object.groups.all %}
                            <li>{{ group }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <img class="card-img-top"
                 src="{{ object.avatar|mediapath }}"
                 alt="Card image cap">
        </div>
    </div>
{% endblock %}