{% extends 'main_app/base.html' %}
{% block content %}
    <div class="col-1">
        <a href="{% url 'service_app:list' %}" type="button" class="btn btn-secondary form-control">
            << назад
        </a>
    </div>
    <div class="col-6 mt-3">
        <a class="btn btn-outline-primary"
           href="{% url 'service_app:message_create' %}">Добавить сообщение</a>
    </div>
    <div class="row mt-2">
        {% include 'service_app/includes/inc_message_table.html' %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class='btn btn-outline-secondary'
               href="?page=1">&laquo; Первая</a>
            <a class='btn btn-outline-secondary'
               href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class='btn btn-outline-secondary'
               href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class='btn btn-outline-secondary'
               href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}