{% extends 'main_app/base.html' %}
{% block content %}
    <div class="col-1">
        <a href="{% url 'service_app:list' %}" type="button" class="btn btn-secondary form-control">
            << назад
        </a>
    </div>
    <div class="col-6 mt-3">
        <a class="btn btn-outline-primary"
           href="{% url 'service_app:message_create' %}">Добавить сообщение</a>
    </div>
    <div class="row mt-2">
        {% include 'service_app/includes/inc_message_table.html' %}
    </div>
{% endblock %}